$group-gift-primary-color: #28284e;

.bg-dark-blue {
    background-color: $group-gift-primary-color;
}

$theme-colors: (
    'primary': $group-gift-primary-color,
    'warning': #ff7900,
);

@import '~bootstrap/scss/bootstrap';
